<section class="testimonial-section py-5 bg-light">
  <div class="container">
    <div class="section-header text-center mb-5">
      <h2 class="section-title">Testimonials</h2>
      <p class="section-subtitle">What colleagues and clients say about my work</p>
    </div>
    
    <div class="row">
      <!-- Show only visible testimonials -->
      <div class="col-md-6 col-lg-4 mb-4" *ngFor="let testimonial of visibleTestimonials">
        <div class="testimonial-card h-100">
          <div class="testimonial-content">
            <div class="testimonial-text">
              <i class="fas fa-quote-left quote-icon"></i>
              <p>{{ testimonial.text }}</p>
            </div>
          </div>
          <div class="testimonial-author">
            <div class="author-image">
              <img [src]="testimonial.image" [alt]="testimonial.name" class="img-fluid rounded-circle">
            </div>
            <div class="author-info">
              <h5 class="author-name">{{ testimonial.name }}</h5>
              <p class="author-position">{{ testimonial.position }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- View More button (only show if there are hidden testimonials) -->
    <div class="text-center mt-4" *ngIf="testimonials.length > initialVisibleCount">
      <button class="btn btn-primary" (click)="toggleViewMore()">
        {{ showAll ? 'View Testimonials Less' : 'View More Testimonials' }}
        <i class="fas ms-2" [ngClass]="{'fa-chevron-up': showAll, 'fa-chevron-down': !showAll}"></i>
      </button>
    </div>
  </div>
</section>